# Local Configuration
*.vcxproj.user

# Debugger Files
*.pdb
*.idb

# Generated Project Folders
a1/bennett/.vs
a1/bennett/intermediate

# Generated Project Files
bin/TerrainDemo.exe
bin/*.raw
qelog.txt

# Personal Files
_exclude/